/*-------------------*/
/*== MEDIA QUERIES   */
/*-------------------*/

/*== APPARTEMENTS */

@media screen and (max-width: 1240px) {
  .popular {
    order: -1;
  }
  .popular-list {
    display: flex;
  }
  .apartments {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .popular-card {
    height: 200px;
  }
  .hebergements-card {
    height: 250px;
    width: 95%;
  }
  .hebergements-card-photo img {
    height: 120px;
  }
  .popular-card img {
    min-width: 230px;
    width: 30%;
  }
  .popular-list {
    display: flex;
    flex-direction: column;
  }
  .hebergements h2,
  .section-activity h2,
  .popular-title h2 {
    font-size: 40px;
  }
  .popular-card {
    width: 90%;
  }
  .popular-title i {
    font-size: 30px;
  }
  .show a {
    font-size: 30px;
  }
  .hebergements-card h3,
  .hebergements-card p {
    font-size: 21px;
  }
  .hebergements-card .rate {
    font-size: 20px;
  }
  .popular-description h3,
  .popular-description p {
    font-size: 30px;
  }
  .popular-description .rate {
    font-size: 25px;
  }
  .hebergements-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 741px) {
  .hebergements-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .hebergements-card {
    width: 95%;
  }
  .popular-card img {
    min-width: 170px;
    width: 30%;
  }

  .hebergements-card h3,
  .hebergements-card p {
    font-size: 30px;
  }

  .hebergements-card .rate {
    font-size: 25px;
  }

  .apartments > section {
    background-color: white;
  }

  .apartments > .popular {
    background-color: #f2f2f2;
  }

  .hebergements h2,
  .section-activity h2,
  .popular-title h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 625px) {
  .hebergements h2,
  .section-activity h2,
  .popular-title h2 {
    font-size: 35px;
  }
  .popular-card img {
    width: 30%;
    min-width: 150px;
  }
  .popular-description .rate {
    font-size: 21px;
  }
  .popular-description h3,
  .popular-description p {
    font-size: 25px;
  }
  .hebergements-card {
    width: 97%;
  }
}

@media screen and (max-width: 500px) {
  .hebergements h2,
  .section-activity h2,
  .popular-title h2 {
    font-size: 30px;
  }
  .popular-title i {
    font-size: 20px;
  }
  .popular-description .rate {
    font-size: 17px;
  }
  .popular-description h3,
  .popular-description p {
    font-size: 20px;
  }
  .hebergements-card h3,
  .hebergements-card p {
    font-size: 20px;
  }
  .hebergements-card .rate {
    font-size: 17px;
  }
  .popular-card img {
    min-width: 91px;
    width: 30%;
  }
  .show {
    padding: 30px 0 0 0;
  }
  .show a {
    font-size: 25px;
  }
}

/*== ACTIVITES*/

@media screen and (max-width: 1240px) {
  .list-activity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .card-activity-big2,
  .card-activity-medium,
  .card-activity-medium2,
  .card-activity-small,
  .card-activity-small2,
  .card-activity-big {
    height: 220px;
  }
  .card-activity-big img,
  .card-activity-big2 img,
  .card-activity-medium img,
  .card-activity-medium2 img,
  .card-activity-small img,
  .card-activity-small2 img {
    height: 62%;
  }
  .card-activity-big {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .card-activity-big2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .card-activity-medium {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .card-activity-medium2 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .card-activity-small {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .card-activity-small2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 992px) {
  .list-activity {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .card-activity-big {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .card-activity-big2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .card-activity-medium {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .card-activity-medium2 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .card-activity-small {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .card-activity-small2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .section-activity h3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 741px) {
  .list-activity {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .section-activity h2 {
    margin-bottom: 40px;
  }
  .card-activity-big2,
  .card-activity-medium,
  .card-activity-medium2,
  .card-activity-small,
  .card-activity-small2,
  .card-activity-big {
    width: 95%;
  }
}

@media screen and (max-width: 500px) {
  .section-activity h3 {
    font-size: 20px;
  }
}

/* ==FOOTER*/

@media screen and (max-width: 769px) {
  footer {
    flex-direction: column;
    font-size: 28px;
  }
  .a-propos,
  .nos-hebergements,
  .Assistance {
    width: initial;
  }
}

/*==nav*/

@media screen and (max-width: 993px) {
  .elements-nav {
    font-size: 25px;
  }
}

@media screen and (max-width: 741px) {
  nav {
    flex-direction: column;
  }

  .nav__logo {
    display: flex;
    justify-content: center;
  }
  #booki {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .elements-nav {
    gap: initial;
    justify-content: center;
    width: 100%;
    padding-right: initial;
  }

  nav a {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid lightgrey;
  }

  .elements-nav .heberg {
    padding-inline: 10%;
  }

  .elements-nav .act {
    padding-inline: 10%;
  }

  nav a:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
  }
}

@media screen and (max-width: 500px) {
  #booki {
    width: 40%;
  }

  nav a {
    width: 50%;
    font-size: 20px;
  }
  .elements-nav .heberg {
    width: 200px;
  }
}

/*==header*/

@media screen and (max-width: 993px) {
  header h1 {
    font-size: 30px;
  }
  .subtitle {
    font-size: 25px;
  }
}

@media screen and (max-width: 769px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    font-size: 35px;
    text-align: center;
  }
  .subtitle {
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  header h1 {
    font-size: 30px;
  }

  .subtitle {
    font-size: 25px;
  }

  header {
    height: 410px;
  }
}

/*==SEARCH*/

@media screen and (max-width: 993px) {
  .search input {
    font-size: 20px;
  }
  .search .localisation {
    height: 65px;
  }
  .search button {
    height: 65px;
    font-size: 20px;
  }
}
@media screen and (max-width: 769px) {
  .search .localisation i {
    font-size: 20px;
  }
}

@media screen and (min-width: 741px) {
  .search button i {
    font-size: 27px;
    display: none;
  }
}

@media screen and (max-width: 741px) {
  .search .button-text {
    display: none;
  }

  .search .localisation {
    height: 83px;
    border-radius: 30px 0 0 30px;
    padding: 14px 30px;
  }

  .search .localisation i {
    font-size: 25px;
  }

  .search input {
    height: 82px;
    width: 90%;
  }

  .search button {
    height: 83px;
    width: 83px;
    margin: -30px;
    border-radius: 30px;
  }
}

@media screen and (max-width: 500px) {
  .search input {
    font-size: 15px;
    width: 80%;
  }
}

@media screen and (max-width: 411px) {
  .search input {
    padding: 16px;
  }
}

/*==FILTRES*/

@media screen and (max-width: 993px) {
  .filter-list {
    margin-top: 50px;
    align-items: baseline;
    gap: 40px;
  }

  .filter {
    border-radius: 50px;
  }
  .filter .circle {
    height: 60px;
    width: 60px;
    margin: -25px;
  }
  .all-filters {
    font-size: 25px;
    gap: 25px;
    flex-wrap: wrap;
  }
  .filter-list h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 741px) {
  .filter-list {
    flex-direction: column;
    gap: initial;
  }

  .all-filters {
    padding-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .all-filters {
    font-size: 20px;
  }
  .filter .circle {
    margin: -20px;
    height: 55px;
    width: 55px;
  }
  .filter-list h2 {
    padding-left: 20px;
  }
  .filter-list {
    margin-top: 10px;
  }
}

/*==INFO*/

@media screen and (max-width: 993px) {
  .info {
    font-size: 25px;
  }
  .info i {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 769px) {
  .info {
    font-size: 30px;
  }
  .info i {
    height: 50px;
    width: 70px;
  }
}

@media screen and (max-width: 625px) {
  .info i {
    height: 50px;
    width: 85px;
  }
}

@media screen and (max-width: 500px) {
  .info {
    font-size: 20px;
  }
  .info i {
    height: 45px;
    width: 70px;
  }
}

@media screen and (max-width: 426px) {
  .info {
    margin-top: 50px;
  }
  .info i {
    height: 45px;
    width: 90px;
  }
}
